<h1 class="tasks-title">Create a new Task</h1>
<%= render 'form' %>
<hr />

<h1 class="tasks-title">Your Tasks</h1>

<% if @uncompleted_tasks.empty? && @completed_tasks.empty? %>
  <div class="flash-message no-tasks">
    You do not have any task yet
  </div>
<% else %>
  <div class="tasks">
    <section class="uncompleted">
      <h2 class="tasks-title">Uncompleted</h2>
      <ul>
        <% @uncompleted_tasks.each do |task| %>
          <li class="task">
            <%= task.title %>
            <section class="actions">
              <%= button_to 'complete', complete_task_path(task), method: :put, class: 'complete-btn margin-x' %>
              <%= button_to 'destroy', task_path(task), method: :delete, class: 'destroy-btn margin-x' %>
            </section>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="completed">
      <h2 class="tasks-title">Completed</h2>
      <ul>
        <% @completed_tasks.each do |task| %>
          <li class="task">
            <%= task.title %>
            <section class="actions">
              <%= button_to 'destroy', task_path(task), method: :delete, class: 'destroy-btn margin-x' %>
            </section>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
<% end %>
