<%= form_with(model: @user) do |form| %>
  <div>
    <% @user.errors.each do |error| %>
      <div>
        <%= error.full_message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.text_field :email, placeholder: :email %>
    <%= form.password_field :password, placeholder: :password %>
    <%= form.password_field :password_confirmation, placeholder: :password_confirmation %>
  </div>

  <div>
    <%= form.submit "Create account" %>
  </div>
<% end %>