<div class="form d-row">
  <%= form_with(model: @user) do |form| %>
    <div>
      <%= form.text_field :email, placeholder: :email, class: "text-field" %>
    </div>

    <div>
      <%= form.password_field :password, placeholder: :password, class: "text-field" %>
    </div>

    <div>
      <%= form.password_field :password_confirmation, placeholder: :password_confirmation, class: "text-field" %>
    </div>

    <div>
      <%= form.submit "Create account", class: 'create-btn margin-x' %>
    </div>
  <% end %>
</div>