<%= form_with(model: @user, class: 'flex fd-row jc-around') do |form| %>
  <div>
    <% @user.errors.each do |error| %>
      <div class="flashmessage alert">
        <%= error.full_message %>
      </div>
    <% end %>
  </div>

  <div class="flex fd-col">
    <%= form.text_field :email, placeholder: :email, class: "field my-1" %>
    <%= form.password_field :password, placeholder: :password, class: "field my-1" %>
    <%= form.password_field :password_confirmation, placeholder: :password_confirmation, class: "field my-1" %>
  </div>

  <div class="als-end">
    <%= form.submit "Create account", class: 'button btn-create' %>
  </div>
<% end %>