<nav>
  <ul>
    <section>
      <li><%= link_to 'Task Manager App', root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </section>

    <% if current_user %>
      <section>
        <li><%= link_to "Tasks", tasks_path %></li>
      </section>
    <% end %>

    <section>
      <% if current_user %>
        <li><%= current_user.email %></li>
        <li><%= button_to 'Log out', logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </section>
  </ul>
</nav>
