<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css" %>
    <%= stylesheet_link_tag "application" %>  
    <%= stylesheet_link_tag "helpers/margin" %>  
    <%= stylesheet_link_tag "helpers/flex" %>
    <%= javascript_importmap_tags %>  
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <main class="container">
      <section>
        <% if flash.notice %>
          <div class="flashmessage notice mb-1"><%= flash.notice %></div>
        <% end %>

        <% if flash.alert %>
          <div class="flashmessage alert mb-1"><%= flash.alert %></div>
        <% end %>
      </section>

      <section>
        <%= yield %>
      </section>      
    </main>
  </body>
</html>
