<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" %>
    <%= javascript_importmap_tags %>  
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <main>
      <section data-controller="flashmessage">
        <% if flash.notice %>
          <div>
            <%= flash.notice %>
            <i data-action="click->flashmessage#close"></i>
          </div>
        <% end %>

        <% if flash.alert %>
          <div>
            <%= flash.alert %>
            <i data-action="click->flashmessage#close"></i>
          </div>
        <% end %>
      </section>

      <section>
        <%= yield %>
      </section>      
    </main>
  </body>
</html>
